<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inventory App - Opciones</title>
  <link rel="icon" type="image/jpg" href="../img/logoInventory.PNG" />
  <link rel="stylesheet" href="../styles/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/stylePlataforma.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
</head>

<body class="bg-light bg-gradient">
  <!--Navbar-->
  <nav class="navbar navbar-dark bg-success bg-gradient">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="#">
        <img src="../img/logoInventory.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
        InventoryApp
      </a>

      <span id="lblUsuario" class="navbar-brand mb-0 h-25">
        Carlos Alberto Vivas Reinoso
        <button type="button" class="btn btn-outline-dark">Cerrar</button>
      </span>
    </div>
  </nav>

  <!--cards-->
  <div class="container mt-2">
    <!--   <div class="card card-block mb-2">
          <h4 class="card-title">Card 1</h4>
          <p class="card-text">Welcom to bootstrap card styles</p>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>   -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card card-block" onclick="rutas('../templates/gest_users.html')">
          <img id="imagenModulo" src="../img/usuarios.jpg"
            alt="Photo of sunset">
          <h5 class="card-title mt-3 mb-3">Gestión de Usuarios</h5>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img id="imagenModulo" src="../img/Productos.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Gestión de Productos</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img id="imagenModulo" src="../img/Proveedores.jpg"
            alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Gestión de Proveedores</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img id="imagenModulo" src="../img/Clientes.jpg"
            alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Gestión de Clientes</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img id="imagenModulo" src="../img/compras.jpg"
            alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Compras</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img id="imagenModulo" src="../img/Ventas.jpg"
            alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Ventas</h5>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal para los mensajes -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Mensaje del sistema</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="contenedorMensaje" class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Scrips de javascript -->
  <!--primero va el jquery -->
  <script src="../js/jquery-3.6.1.min.js"></script>
  <!--segundo va el boostrap -->
  <script src="../js/bootstrap.min.js"></script>
  <!--y los demas -->
  <script src="../js/plataforma.js"></script>
  <script src="../js/utilities.js"></script>
  <script src="../js/usuariosServices.js"></script>

</body>

</html>