<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../styles/stylePlataforma.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
</head>
<body>
    <header>
       <h1>Inventory App</h1> 
       <div class="logo">
        <img src="../img/logoInventory.PNG" alt="" width="100">
        <div class="perfil">
            <h3>Usuario</h2>
        </div>
    </div>
    </header>
    <h1 class="titulo">MODULOS</h1>
    <article>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <a href="gest_users.html">
                <img src="../img/log_usuario.png" class="card-img-top" alt="">
            </a>
                <div class="card-body">
                  <h5 class="card-title">Gestion de Usuarios</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <a href="gest_produc.html">
                <img src="../img/log_productos.png" class="card-img-top" alt="...">
            </a>
                <div class="card-body">
                  <h5 class="card-title">Gestion de Productos</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <a href="gest_prov.html">
                <img src="../img/log_prov.png" class="card-img-top" alt="...">
            </a>
                <div class="card-body">
                  <h5 class="card-title">Gestion de Proveedores</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <a href="gest_client.html">
                <img src="../img/log_clientes.png" class="card-img-top" alt="...">
            </a>
                <div class="card-body">
                  <h5 class="card-title">Gestion de Clientes</h5>
                 </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="gest_comp.html">
                  <img src="../img/log_compras.png" class="card-img-top" alt="...">
           </a>
                  <div class="card-body">
                    <h5 class="card-title">Gestion de Compras</h5>
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="gest_vent.html">
                  <img src="../img/log_ventas.png" class="card-img-top" alt="...">
            </a>
                  <div class="card-body">
                    <h5 class="card-title">Gestion de Ventas</h5>
                   </div>
                </div>
            </div>

    </article>

</body>
</html>